<body>
<header>
    <div class="user-profile">
        <h2> User Name </h2>   
    </div>
</header>
<div class="photo-upload">
    <label for="formFileDisabled" class="form-label"> Upload Your Photos!</label>
    <input class="form-control" type="file" id="formFileDisabled" disabled />
</div>
<div class="row align-items-center">
    <div class="col">
      <img class= "pic" src="../assets/images/01-squirrel.jpg" alt="Squirrel eating peach">
    </div>
    <div class="col">
      <img src="../assets/images/02-aspen-leaves.jpg" alt="Aspen leaves">
    </div>
    <div class="col">
      <img src="../assets/images/03-dog.jpg" alt="Dog">
    </div>
    <div class="col">
        <img src="../assets/images/04-sloth.jpg" alt="Sloth hanging from tree branch">
    </div>
    <div class="col">
        <img src="../assets/images/05-kaleidscope.jpg" alt="Kaleidoscope">
    </div>
    <div class="col">
        <img src="../assets/images/06-bird.jpg" alt="Bird">
    </div>
</div>
</body>

