<body>
<header>
    <div class="user-profile">
        <h2> User Name </h2>   
    </div>
</header>
<div class="photo-upload">
    <label for="formFileDisabled" class="form-label"> Upload Your Photos!</label>
    <input class="form-control" type="file" id="formFileDisabled" disabled />
</div>
<div class="row align-items-center">
    <div class="col">
      Photo
    </div>
    <div class="col">
      Photo
    </div>
    <div class="col">
      Photo
    </div>
    <div class="col">
        Photo
    </div>
    <div class="col">
        Photo
    </div>
    <div class="col">
        Photo
    </div>
</div>
</body>

